.pixelart {
    width: 1px;
    height: 1px;
    transform: scale(20);
    background: transparent;
    box-shadow: 9px 0px #7c4936, 10px 0px #7c4936, 11px 0px #7c4936, 9px 1px #7c4936, 10px 1px #7c4936, 11px 1px #7c4936, 9px 2px #7c4936, 10px 2px #7c4936, 11px 2px #7c4936, 9px 3px #7c4936, 10px 3px #7c4936, 11px 3px #7c4936, 9px 4px #7c4936, 10px 4px #7c4936, 11px 4px #7c4936, 9px 5px #7c4936, 10px 5px #7c4936, 11px 5px #7c4936, 9px 6px #7c4936, 10px 6px #7c4936, 11px 6px #7c4936, 9px 7px #7c4936, 10px 7px #7c4936, 11px 7px #7c4936, 9px 8px #7c4936, 10px 8px #7c4936, 11px 8px #7c4936;
}