<html lang = "en">
<head>
    <meta charset  = "UTF-8">
    <title>Hangman Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=PT+Mono&display=swap" rel="stylesheet">
    <link href="assets/stylesheets/difficulty.css" rel="stylesheet">
</head>
<body>
<audio id = "mySound" src="assets/sounds/PIXEL_ART.mp3" loop></audio>
<div class="header-con">
    <div class="header-left">
        <div class="box-test-one">
            <div class="extra-background"> <img src="https://i.pinimg.com/474x/da/74/06/da7406b7fd75b29cdf52633631add7f9.jpg"></div>
            <div class="user-image"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7a5a3db7-fb07-4532-aa4c-93f5a5d5d651/das9vrh-dfe061b5-2e2c-4c55-ab9c-3e636b627d56.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdhNWEzZGI3LWZiMDctNDUzMi1hYTRjLTkzZjVhNWQ1ZDY1MVwvZGFzOXZyaC1kZmUwNjFiNS0yZTJjLTRjNTUtYWI5Yy0zZTYzNmI2MjdkNTYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wah0jbiS9rCL1jnlB8lZOBs3bqGvI1CxF2bQgfxxVW4"></div>

            <div class="site-links-con">
                <form action = "/hangman" method = "POST" id = "send-form-post">
                    <input type = "button" id = "send-difficult" value = "Test"/>
                    <input type = "button" value = "Test1" />
                    <input type = "button" value = "Test 2" />
                    <input type = "button" value = "Test 3" />
                </form>
            </div>
        </div>

    </div>
    <div class='header-right'>
        <div class="header-big-image"><img src="https://64.media.tumblr.com/93656f0e471d8fe298135c53567419eb/tumblr_p23b0iq0JN1ueofzpo8_1280.gif"></div>
        <div class="header-title">Web<br> Hangman</div>
        <div class="small-title">florian : https://github.com/UtokaSan  | maxime : https://github.com/Marht77
        </div>
        <div class="site-blurb">Hello, welcome to our Hangman web project, created by Maxime Poiret and Florian, we hope you will enjoy the experience of our web hangman. </div>

        <div class="admin-diamond-con">
            <div class="admin-diamond"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f68cb165340121.5c30e057505ee.gif"></div>
            <div class="admin-diamond"><img src="https://i.pinimg.com/originals/00/6a/60/006a60cb0964c63f6e9b961ec3161bc9.gif"></div>
            <div class="admin-diamond"><img src="https://external-preview.redd.it/758OYXx1rTO3Mc_eBwm5oyVmUR-cR8MLYQsMpu7MwHE.png?format=pjpg&auto=webp&s=2e46fa03d8d1b590fd4a2ae8d378fc54ea129e24"></div>
        </div>
    </div>
</div>
<script src = "assets/scripts/difficulty.js"></script>
</body>
</html>