<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="assets/stylesheets/hangman.css" rel="stylesheet">
    <title>Hangman Web</title>
</head>
<body>
<div id="rectangle">
    <div id = "test">{{ .Word }}</div>
    <div id = "flex">
        <p>Vie :</p>
        <h3 id = "life">7</h3>
    </div>
    <div id = "test1"></div>
    <form action = "/hangman" method = "POST" id = "form">
        <input type = "text" name = "inputText" id = "send">
        <input value= "{{ .Life }}" type = "hidden" name = "inputText">
        <input value= "{{ .Display }}" type = "hidden" name = "inputText">
        <input type="submit" value="valid" id = "button-submit">
        <audio src = "assets/sounds/inex.mp3" autoplay="true" id="myAudio"></audio>
    </form>
</div>
<div id="position-bar">
    <img src="/assets/images/bar.png" id="bar-hangman" alt="bar hangman">
</div>
<div id="position-head">
    <img src="/assets/images/head.png" id="head-hangman" alt="head hangman">
</div>
<div  id = "position-body">
    <img src = "/assets/images/body.png" alt = "body hangman" id = "body-hangman">
</div>
<div  id = "position-hand-left">
    <img src = "/assets/images/left-hand.png" alt = "body hangman" id = "left-hand-hangman">
</div>
<div  id = "position-hand-right">
    <img src = "/assets/images/right-hand.png" alt = "body hangman" id = "right-hand-hangman">
</div>
<div  id = "position-leg-right">
    <img src = "/assets/images/right-leg.png" alt = "body hangman" id = "right-leg-hangman">
</div>
<div  id = "position-leg-left">
    <img src = "/assets/images/left-leg.png" alt = "body hangman" id = "left-leg-hangman">
</div>
<div id="rectangle1"></div>
<script src="assets/scripts/hangman.js"></script>
<script src="assets/scripts/home.js"></script>
</body>

</html>
