<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="assets/stylesheets/hangman.css" rel="stylesheet">
    <title>Hangman Web</title>
</head>
<body>
<h1>{{ .Word }}</h1>
<h2> {{ .Display }}</h2>
<h3>{{ .Life }}</h3>
<div id = "{{ .Life }}"></div>
<div id = "test"></div>
<div id = "1">s</div>
<form action = "/hangman" method = "POST" id = "form">
  <input type = "text" name = "inputText" id = "send">
  <input value= "{{ .Life }}" type = "hidden" name = "inputText">
  <input value= "{{ .Display }}" type = "hidden" name = "inputText">
  <input type="submit" value="valid">
</form>
<script src="assets/scripts/hangman.js"></script>
</body>
</html>
