/** Positions Hangman **/
html {
    background: url("/assets/images/background.png") no-repeat;
    color: wheat;
    font-size: 30px;
}

#head-hangman {
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
}
#position-body {
    position: absolute;
    width: 10%;
}