/** Positions Hangman **/
html {
    background: url("/assets/images/background.png") no-repeat;
    color: firebrick;
    font-size: 30px;
    font-family: bladerunner, sans-serif;
}
input {
    font-family: bladerunner, sans-serif;
}
@font-face
{
    font-family: 'bladerunner';
    src: url("../fonts/bladerunner.ttf");
}
#bar-hangman {
    position: absolute;
    top: 25%;
    right: 26.2%;
    width: 10%;
}
#head-hangman {
    position: absolute;
    top: 26.7%;
    right: 22.3%;
    width: 11%;
}
#body-hangman {
    position: absolute;
    top: 37.0%;
    right: 26.0%;
    width: 6%;
}
#left-hand-hangman {
    position: absolute;
    top: 37.4%;
    right: 29.9%;
    width: 5%;
}
#right-hand-hangman {
    position: absolute;
    top: 35.5%;
    right: 23.6%;
    width: 8%;
}
#right-leg-hangman {
    position: absolute;
    bottom: 41.7%;
    right: 26.0%;
    width: 4.5%;
}
#left-leg-hangman {
    position: absolute;
    bottom: 40.5%;
    right: 28.6%;
    width: 3%;
}
#rectangle{
    width:800px;
    height:300px;
    background:#000000;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #d7001e;
}
#send{
    border-color: #d7001e;
    border-radius: 10px;
    background: floralwhite;
    position: absolute;
    bottom: 20%;
    left: 20%;
}
#button-submit{
    border-color: #d7001e;
    border-radius: 10px;
    background: floralwhite;
    right: 23.6%;
    width: 8%;
}
#hidden{
    right: 23.6%;
    width: 8%;
}