/** Positions Hangman **/
html {
    background: url("/assets/images/background.png") no-repeat;
    color: wheat;
    font-size: 30px;
}

#head-hangman {
    position: absolute;
    top: 31%;
    right: 27.6%;
    width: 11%;
}
#position-body {
    position: absolute;
    width: 10%;
}