
body {
    background: url("https://www.oddtales.net/img/gifs/TLN_E32017_rooftop.gif") no-repeat;
    background-size:cover;
}


:root {
    --glow:#db0e15;
    --display:'Audiowide';
    --grad2: #2c2780;
    --mono: 'PT Mono'

}

.header-title {
    font-family: var(--display);
    font-size: 100px;
    text-transform: uppercase;
    text-align: right;
    color: var(--glow);
    margin: 0px 20px 0px 0px;
    text-shadow: 3px 2px 10px;
    position: relative;
}

.logo button,buttom::after{
    width:380px;
    height:86px;
    font-size:36px;
    background:linear-gradient(45deg,transparent 5%,#DB0E15FF 5%);
    border:0;
    color:#fff;
    letter-spacing:3px;
    line-height:88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline:transparent;
    position:relative;
}

.logo button::after{
    --slice-0:inset(50% 50% 50% 50%);
    --slice-1:inset(80% -6px 0 0);
    --slice-2:inset(50% -6px 30% 0);
    --slice-3:inset(10% -6px 85% 0);
    --slice-4:inset(40% -6px 43% 0);
    --slice-5:inset(80% -6px 5% 0);
    content:'Restart';
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    botom:0;
    background:linear-gradient(45deg,transparent 3%,#00E6f6 3%,#00E6f6 5%,#DB0E15FF 5%);
    text-shadow:-3px -3px 0px #F8F005,3px 3px 0px #00E6F6;
    clip-path:var(--slice-0);
}

.logo button:hover::after{
    animation:1s glitch;
    animation-timing-function:steps(2,end);
}

@keyframes glitch {
    0%{
        clip-path:var(--slice-1);
        transform:translate(-20px,-10px);
    }
    10%{
        clip-path:var(--slice-3);
        transform:translate(-10px,-10px);
    }
    20%{
        clip-path:var(--slice-1);
        transform:translate(-10px,10px);
    }
    30%{
        clip-path:var(--slice-3);
        transform:translate(0px,5px);
    }
    40%{
        clip-path:var(--slice-2);
        transform:translate(-5px,0px);
    }
    50%{
        clip-path:var(--slice-3);
        transform:translate(-20px,-10px);
    }
    60%{
        clip-path:var(--slice-4);
        transform:translate(5px,10px);
    }
    70%{
        clip-path:var(--slice-1);
        transform:translate(-10px,10px);
    }
    80%{
        clip-path:var(--slice-3);
        transform:translate(5px,-10px);
    }
    90%{
        clip-path:var(--slice-2);
        transform:translate(-10px,-10px);
    }
    100%{
        clip-path:var(--slice-4);
        transform:translate(0);
    }
}
.logo button {
    position: absolute;
    right: 50%;

}